/* bakery-item-details.component.scss */

.image-box {
    -webkit-box-shadow: -1px 18px 20px -14px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: -1px 18px 20px -14px rgba(0, 0, 0, 0.61);
    box-shadow: -1px 18px 20px -14px rgba(0, 0, 0, 0.61);
}
