<div class="row">
    <div class="d-flex align-items-center content-container about-image">
        <div class="col-sm-12 col-md-8 offset-md-2 pt-4 py-5 px-5 logo-content">
            <h1 class="row justify-content-center align-items-center py-3">About</h1>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <p>
        Don Carrington, the founder and baker of Crumbs & Cream, never in his wildest dreams imagined he’d launch a cupcake company.
        Don was born in Dallas, Texas and the family moved to Phoenix, Arizona when he was 6. Don spent the next 28 years in Phoenix
        and then another 28 in Denver, Colorado working for one of the Bell System regional telephone companies and then a nationwide wireless carrier.
      </p>
      <p>
        He retired the first time for 1 year, then spent 4 years working for a software company until final retirement in 2015. While baking his
        signature hummingbird and coconut cakes for friends and church, he was inspired to start specializing in beautifully crafted and delicious cupcakes.
      </p>
      <p>
        It is, of course, Crumbs & Cream’s signature flavors (like Banana Pudding cupcakes, Caramel Crunch brownies or Double chocolate NYC style cookies)
        and ingredients that set it apart from competitors.
      </p>
      <p>
        Crumbs & Cream’s cupcakes are freshly baked every day with cupcakes, brownies, cookies and drizzle cakes baked to order. Since Crumbs & Cream’s
        inception, over 70 recipes have been developed, all using premium ingredients like Madagascar vanilla, free range chicken eggs, European butter,
        Saigon cinnamon, etc.
      </p>
      <p>
        If you are in need of a special treat, give Don a yell by calling him or sending him an email so your desires can be fulfilled. He aims to create a
        smile, one cupcake at a time! Follow Don on his journey as Crumbs & Cream grows each day.
      </p>
    </div>
    <div class="col-md-4 mb-4 mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <fa-icon [icon]="['fas', 'map-marker-alt']" class="mr-2"></fa-icon> Address
          </h5>
          <p class="card-text">Greensboro, GA</p>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">
            <fa-icon [icon]="['fas', 'paper-plane']" class="mr-2"></fa-icon> Email
          </h5>
          <a href="mailto:crumbsandcreamga@gmail.com?Subject=CrumbsandCream Inquiry" target="_top">crumbsandcreamga@gmail.com</a>
        </div>
      </div>

    </div>
  </div>
</div>

