/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
    font-size: 10px;
    color: #ccc;
}

.jh-navbar {
    //background-color: #353d47;
    padding: 0.2em 1em;
    border-bottom: 1px solid #7f7f7f;
    box-shadow: 0 0 10px 0 #888888;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
        color: #3c2313;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }

    .navbar-title {
        padding-left: 10px;
    }

    .navbar-brand {
        &.logo {
            padding-left: 65px;
        }
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .navbar-title {
        font-size: 16px !important;
    }
    .navbar-brand {
        &.logo {
            .logo-img {
                height: 50px !important;
                width: 50px !important;
            }
        }
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
    color: #3c2313;
    font-family: 'Kaushan Script';
    font-size: 26px;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            border-radius: 50%;
            box-shadow: 12px 0 15px -4px rgba(98, 69, 69, 0.8), -12px 0 8px -4px rgba(98, 69, 69, 0.8);
            -moz-box-shadow: 12px 0 15px -4px rgba(98, 69, 69, 0.8), -12px 0 8px -4px rgba(98, 69, 69, 0.8);
            -webkit-box-shadow: 12px 0 15px -4px rgba(98, 69, 69, 0.8), -12px 0 8px -4px rgba(98, 69, 69, 0.8);
            -o-box-shadow: 12px 0 15px -4px rgba(98, 69, 69, 0.8), -12px 0 8px -4px rgba(98, 69, 69, 0.8);
            height: 75px;
            width: 75px;
            display: inline-block;
            vertical-align: middle;
            background: url('../../../content/logo/bakery_logo.png') no-repeat center center;
            background-size: contain;
        }
    }
}
