
<div class="row">
    <div class="d-flex align-items-center content-container home-image">
        <div class="col-sm-12 col-md-8 offset-md-2 pt-4 py-5 px-5 logo-content">
            <h1 class="row justify-content-center align-items-center py-3">Welcome to Crumbs & Cream</h1>
            <div class="text-center font-weight-bold">
                <p>Every day we make and deliver amazing gourmet cupcakes, brownies and drizzle cakes throughout Northeastern Georgia.</p>

                <p>We serve both discerning caterers as well as individuals wanting the very best baked goods.</p>

                <p>We only use the finest available ingredients and we bake fresh to order in small batches.</p>
            </div>
        </div>
    </div>
</div>

<div class="scroll_row">
    <div class="row__inner">

        <div class="tile" *ngFor="let item of bakeryItems" (click)="navigateToItemDetails(item.id)">
            <div class="tile__media">
                <img class="tile__img" [src]="'data:' + item.itemImageContentType + ';base64,' + item.itemImage" alt="bakeryItem image"/>
            </div>
            <div class="tile__details">
                <div class="tile__title">
                    {{item.item}}
                </div>
            </div>
        </div>

    </div>
</div>

