<div class="row">
    <div class="d-flex align-items-center content-container menu-image">
        <div class="col-sm-12 col-md-8 offset-md-2 pt-4 py-5 px-5 logo-content">
            <h1 class="row justify-content-center align-items-center py-3">Menu</h1>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" [routerLink]="['/menu/cupcakes']">cupcakes</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" [routerLink]="['/menu/brownies']">brownies</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" [routerLink]="['/menu/drizzle_cakes']">drizzle_cakes</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" [routerLink]="['/menu/cookies']">cookies</a>
      </li>
    </ul>

    <jhi-bakery-items></jhi-bakery-items>

  </div>
  <div class="col-md-1"></div>
</div>
